@media (min-width: 1020px) { 
    #desktop-menu {
        display:block;
    }
    .home-services {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        width: 100%;
        align-items: baseline;
    }
}