@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}
.pics {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

h1 {
    text-align:center;
}