@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    color: #212121;
}

.icons {
    width: 50px;
    margin-left:5px;
}

header {
    background-color: #303F9F;
    padding: 0.5rem 0 0.5rem 0rem;
    color: #FFFFFF;
    padding: 0rem 1rem 0rem 1rem;
    margin: auto;
    width: 98%;
    padding-bottom: 0.4rem;
}

.logo-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.logo-text p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.1rem;
    margin-top: 0rem;
    font-weight: bold;
}

.logo {
    width: 200px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu {
    cursor: pointer;
}

.menu-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.mobile-links {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    line-height: 2rem;
}

.desk-nav {
    display: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: #4CAF50;
}

.icons-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.date-header {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #3F51B5;
    padding: 0.5rem 0 0.5rem 0;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    width: 98%;
}

.main-content {
    background-color: rgb(214, 213, 213);
    width: 98%;
    padding: 0.5rem;
    margin: auto;
}

.spotlight2,
.spotlight1,
.spotlight3 {
    border: 1px solid grey;
}

.spotlight3,
.join {
    display: none;
}

footer {
    background-color: #303F9F;
    padding: 0.5rem 0 0.5rem 0rem;
    color: #FFFFFF;
    padding: 0rem 1rem 0rem 1rem;
    margin: auto;
    width: 98%;
}

.footer-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.footer-text-mobile {
    text-align: left;
    line-height: 0.5rem;
}

.footer-text-desk {
    display: none;
}

.contacts {
    text-align: left;
    line-height: 0.5rem;
}

.bottom-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

#footer-logo {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


/* DISCOVER CSS */

figure img {
    max-width: 100%;
    display: block;
    height: auto;
    filter: blur(0em);
    transition: filter 0.5s;
}

figure img:hover {
    box-shadow: 0 0 50px #333;
}
figure img[data-src] {
    filter: blur(0.2em);
}

figure figcaption {
    width: 100%;
    text-align: left;
}


.discover-imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 98%;
    margin: auto;
}


/* JOIN CSS */

.section-form {
    width: 95%;
    margin: 3em auto;
    background-color: #C5CAE9;
    padding: 2em;
}

* {
    box-sizing: border-box;
}



.section-form .intro {
    margin-bottom: 2em;
}

.section-form h1 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0.6em;
}

.section-form h2 {
    text-align: center;
    font-size: 1.23077em;
}

input[type=text] {
    height: 45px;
    outline: none;
}

input[type=text],
textarea {
    width: 100%;
    margin-bottom: 1em;
    font-size: .9em;
    color: #cfcece;
    font-weight: 300;
    padding: .5em 1em;
    border: none;
    color: #555555;
    font-weight: 300;
}

textarea {
    outline: none;
}

input[type=button] {
    cursor: pointer;
    margin: 0;
    padding: .5em 2em;
    background: #636363;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
}

select,
#phone {
    height: 2.5rem;
    outline: none;
    margin-bottom: 1rem;
}

.select-phone-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/* DIRECTORY CSSS */
#directory-h1 {
    text-align:center;
}
.card-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom:3rem;
}

.card {
    width: 300px;
    box-shadow: -5px -5px 10px;
    padding: 2rem 1rem 2rem 1rem;
    text-align: left;
    border-radius: 0px 20px 20px 0px;
    font-size: 0.9rem;
}

.card-img {
    max-width: 100%;
    display: block;
    height: auto;
}

.card-address,
.card-phone,
.card-website {
    margin-bottom: -0.8rem;
}

#list {
    display: none;
    margin: 3rem 0 3rem 0;
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}

thead tr {
    background-color: #89CFF0;
    font-size: 1.3rem;
    font-weight: bold;
}

tfoot tr {
    background-color: #89CFF0;
    font-size: 0.9rem;
}

th {
    background-color: #003366;
    font-size: 1.1rem;
    color: #ffffff;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #add8e6;
}

.colored-cell {
    background-color: #003366;
    color: #ffffff;
}

.select-list {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.select-list img {
    padding: 0 1rem 0 1rem;
    cursor: pointer;
   
}

td a {
    color:blue;
}

.card p a {   
    color:blue;
}



