@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
  }

 

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    /* color: #212121; */
    background-color: rgb(12, 25, 39);
    color:#fff
}


  
  html {
    scroll-behavior: smooth;
  }
  /* HOME PAGE */
  
  /* START HEADER */
  .bg-img {
    background-image: linear-gradient(
        to bottom,
        rgba(122, 121, 117, 0.52),
        rgba(0, 0, 0, 0.822)
      ),
      url("https://images.unsplash.com/photo-1568084680786-a84f91d1153c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    /* min-height: 960px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    margin-bottom: 47px;
  }
  
  .container {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    
  }
  
  .topnav {
    z-index: 999;
    position: fixed; /* usunąć przy wprowadzeniu sticky navbar */
    overflow: hidden;
    background-color: rgb(32, 17, 0, 0.95);
    padding: 0px 40px;
    width: 100%;
    top:0rem;
   
  }

  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav-right {
    float: right;
  }
  
  .topnav a:hover {
    background-color: rgb(136, 126, 109);
  }
  
  .topnav-right a:hover {
    background-color: rgb(26, 31, 29);
  }
  
  .topnav a.active {
    background-color: rgb(221, 221, 221);
    color: rgb(26, 31, 29);
  }
  
  .topnav input[type="text"] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
  }
  
  /* start dropdown */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 12px 15px 13.5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover,
  .dropdown:hover,
  .dropbtn:hover {
    background-color: rgb(136, 126, 109);
  }
  
  .dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: rgb(136, 126, 109);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: fixed;
  }
  
  .dropdown-content a {
    float: none;
    color: #f2f2f2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: rgb(26, 31, 29);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* end dropdown */
  /* start text */
  .container-header-txt {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    text-align:start
  }
  
  .container-header-txt .header-txt {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    /* font-family: "Arial Black", sans-serif; */
  }
  
  .container-header-txt .header-txt h2 {
    color: rgb(211, 187, 159);
    /* font-family: Helvetica, sans-serif; */
  }
  
  @media screen and (max-width: 400px) {
    .header-txt h1 {
      font-size: 50px;
    }
    .header-txt h2 {
      font-size: 40px;
    }
  }
  
  /* end text */
  /* END HEADER */
  
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
    .img-left {
      max-width: 97.5%;
    }
  
    .img-middle1 {
      max-width: 97.5%;
      margin-left: 3%;
    }
    .img-middle2 {
      max-width: 97.5%;
    }
    .img-middle3 {
      max-width: 97.5%;
      margin-left: 3%;
    }
    .img-right {
      max-width: 97.5%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 70%;
      margin-left: 15%;
    }
    .img-left,
    .img-middle1,
    .img-middle2,
    .img-middle3,
    .img-right {
      max-width: 100%;
      margin-left: 0;
    }
  }
  
 
  
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
  
  
  
  
  
  /* START BANNER */
  
  .banner-image {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://www.w3schools.com/howto/photographer.jpg"); */
    height: 100vh;
    margin: 50px 0;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
  }
  
  .bannerImg {
    object-fit: cover;
    width: 100%;
    position: absolute;
    height: 100vh;
  }
  
  .banner-text {
    text-align:start;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 249, 214);
    text-shadow: 1.8px 1.8px #2c1a00;
    margin: 0;

  }
  
  .banner-text h3 {
    margin: 10px;
    
  }
  
  
  .contact-container p {
    margin-top: 10px;
  }
  
  .contact-container input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .contact-container input[type="submit"] {
    background-color: rgb(32, 17, 0);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact-container input[type="submit"]:hover {
    background-color: rgb(48, 25, 0);
  }
  
  .contact-container {
    border-radius: 5px;
    padding: 10px;
  }
  
  .contact-column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .contact-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .contact-column,
    input[type="submit"] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  
  
  /* START FOOTER */
  hr {
    margin-bottom: 10px;
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
  }
  
  .footer-hr .fa {
    padding: 15px 20px;
    /* font-size: 30px;
    width: 30px; */
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
    opacity: 0.7;
  }
  
  .fa:hover {
    opacity: 1;
  }
  
  .fa-github {
    color: rgb(32, 17, 0);
  }
  .fa-codepen {
    color: rgb(32, 17, 0);
  }
  .fa-linkedin {
    color: rgb(32, 17, 0);
  }





  
  footer {
    box-sizing: border-box;
    font-family: Nyala, sans-serif;
    text-align: center;
    margin: 10px 0;
  }

  .logo {
    width: 200px;
}
  /* END FOOTER */



.home-services {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding-left: 1rem;
  width: 95%;
  margin: auto;
}

.home-services div {
  margin-top: 2rem;
  padding: 0 0.5rem 0 0.5rem;
}

.home-services-title {
  font-size: 1.5rem;
  font-weight: bold;
}
/*
.home-first-title,
.home-second-title {
  font-size: 2rem;
  text-align: left;
  margin-left: 1.5rem;
  font-weight: bold;
}

.home-second-title {
  margin-top: 1rem;
  margin-bottom: -2rem;
}*/

ul {
  list-style-type: circle;
  margin-left: 2rem;
  margin-top: 1rem;
}

.weather {
  text-align: left;
  border: 1px solid #ffff;
  color: #ffff;
  padding: 1rem;
  border-radius: 10px 0 10px 0;
  line-height: 2rem;
  margin-left: 1rem;
}

#weather-block {
  display: none;
}

#icon {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.icons-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

input[type=button] {
  cursor: pointer;
  margin: 0;
  padding: .5em 2em;
  background: #636363;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}

.join {
  margin-left: 1rem;
  border: 1px solid #ffff;
  width: fit-content;
  padding: 1rem;
  border-radius: 0 10px 10px 0;
}

#join-title {
  margin-bottom: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(32, 17, 0, 0.95);
  margin-top:4rem;
}

.address-footer {
 
}

.address-footer p a {
  color: cadetblue;
}

.footer-botom-items {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  text-align: start;
  padding: 1.5rem;
}

#navbar {
  display: flex;
  align-items: center;
}

#desktop-menu {
  display: none;
}

.mobile-nav {
  background-color: rgb(32, 17, 0, 0.95);
}

.mobile-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}

.mobile-menu {
  cursor: pointer;
}

.mobile-links {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  line-height: 2rem;
  margin-left: 2rem;
  margin-top: -2rem;
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.5rem;
}

.mobile-links a {
  color: #fff;
  text-decoration: none;
}

.list-points {
  list-style: disc;
  margin-left:2rem;
  margin-top:0.5rem
}


/* END HOME PAGE */




  /* TEMPLE PAGE */
  .card-container {
    width: 95%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  padding-left:1rem;
  padding-right:1rem;
  column-gap:2rem;
  justify-content:space-evenly;
  margin:auto;
}

.card {
  width: 400px;
  box-shadow: 0px 0px 10px;
  padding: 2rem 1rem 2rem 1rem;
  text-align: left;
  border-radius: 0px 20px 20px 0px;
  font-size: 0.9rem;
  margin-top:2rem;
}

figcaption {
  font-size:1.2rem;
  margin-top:1rem;
}

.temple-name {
  font-size:1.5rem;
  font-weight:bold;
  margin-bottom:0.5rem;
}

figure ul {
  margin-left:1.5rem;
}
  

/* END OF TEMPLE */


/* RESERVATION */

/* CONTACT FORM */
.company-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.company-address {
  line-height: normal;
  font-size: 1.5rem;
}

.company-email {
  font-weight: bold;
  font-size: 1.2rem;
}

.company-phone {
  color: #4CAF50;
  font-size: 1.2rem;
}

.contain {
  background-color: #eee;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

div.form {
  background-color:rgb(12, 25, 39);
}

.contact-wrapper {
  margin: auto 0;
}

.submit-btn {
  float: left;
}

.reset-btn {
  float: right;
}

.form-headline:after {
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 3px solid #ffff;
  margin-top:0.1rem;
  margin-bottom:1rem;
}

.highlight-text {
  color: #4CAF50;
}

.hightlight-contact-info {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 500;
}

.email-info {
  margin-top: 20px;
}

.required-input {
  color: black;
}

@media (min-width: 600px) {
  .contain {
      padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}



/* .form-input:focus,
textarea:focus {
  outline: 1.5px solid #4CAF50;
} */

.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.wrapper>* {
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.form-contacts {
  color: #212d31;
}

.form {
  
  width:95%;
  margin:auto;
}

.the-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.the-form label {
  display: block;
}

.the-form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

.form-input,
textarea {
  padding: 1em;
}
/* 
#email {
  border: none;
  outline:none;
} */

input[type=button] {
  cursor: pointer;
  margin: 0;
  padding: .5em 2em;
  background: #636363;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}


/* END RESERVATION PAGE */


/* SERVICES PAGE */
.weddings {
  width: 95%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  padding-left:1rem;
  padding-right:1rem;
  column-gap:2rem;
  justify-content:space-evenly
}

.service-image {
 max-width:100%;
 display:block;
 height:auto;
 margin-top:1rem;
 

}

.services-container {
  margin-top:4rem
}

.reception-title {
  text-align:left;
  margin-left:2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

#suites {
  margin-top:5rem;
  margin-bottom:1rem;
}

.the-address {
  padding-top:2rem;
  margin-left:1.5rem;
}

.last-modified-container {
  margin-left:1.5rem;
  margin-bottom:1rem;
}